<table align="center" cellpadding="0" cellspacing="0" width="900" style="border-collapse: collapse; background-color: #f7f7f7;">
    <tr>
        <td style="padding: 20px;">
            <table style="background-color: #fff;">
                <thead>
                    <tr>
                        <td>
                            <table style="width:100%;">
                                <tr>
                                    <td align="center" style="background-image: url('https://medexamcenter.com/media/css/header_blue.jpg'); background-size: 80px 190px; padding: 10px 0;">
                                        <img src="https://medexamcenter.com/media/images/LOGO-web34-300x100.png" width="300px;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 2em 20px;">
                            {!! $body !!}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <table style="width:100%;">
                                <tr>
                                    <td colspan="2" style="padding: 20px; border-top: 2px solid #ccc;">
                                        For more information about our services, please visit www.examapplicationcenter.com. <br>
                                        You may also contact us by telephone or cellular phone Monday through Saturday.
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 10px 20px"><strong>NEAC Medical Exams Application Center</strong></td>
                                </tr>
                                <tr>
                                    <td valign="top" style="padding: 0 20px;">
                                        <table>
                                            <tr>
                                                <td colspan="2"  style="padding: 20px 0 10px">
                                                    <strong>MANILA CENTER:</strong> <br>
                                                    2F St. Thomas Square 1150 Cor. P. Campa St. Espana Blvd. Sampaloc Manila 1008
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px;">Phone Line 1:</td>
                                                <td>+63 (02) 485-0853</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px;">Phone Line 2:</td>
                                                <td>+63 (02) 734-1426</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px;">Phone Line 3:</td>
                                                <td>+63 (02) 905-5180</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px;">Smart Cellular No.:</td>
                                                <td>+63 (0) 998-9641588</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px;">Globe Cellular No.:</td>
                                                <td>+63 (0) 917-8516186</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px;">Globe Cellular No.:</td>
                                                <td>+63 (0) 916-6386505</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px;">Sun Cellular No.:</td>
                                                <td>+63 (0) 922-8554036</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px;">Call us at Viber:</td>
                                                <td>+63 (0) 998-9641588</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td valign="top" style="padding: 0 20px;">
                                        <table>
                                            <tr>
                                                <td colspan="2"  style="padding: 20px 0 10px">
                                                    <strong>CEBU CENTER:</strong> <br>
                                                    Unit 212 Raintree Mall 528 General Maxilom Ave., Cebu City 6000
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px;">Phone Line 1:</td>
                                                <td>+63  (032) 254-6623</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px;">Phone Line 2:</td>
                                                <td>+63 (032) 254-9672</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px;">Smart Cellular No:</td>
                                                <td> (+63)  0949- 3757733</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px;">Globe Cellular No:</td>
                                                <td>(+63)  0917- 8771034</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 150px;">Sun Cellular No:</td>
                                                <td>(+63)  0925- 8007191</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"  style="padding: 20px 20px">
                                        <strong>Office Hours:</strong>
                                        Monday to Saturday: 9:30am – 6:00pm (GMT8)*
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 10px 20px">We appreciate the opportunity to assist you in achieving your professional goals.</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 10px 20px">
                                        Best Regards,<br>
                                        NEAC Medical Exam Application Center<br>
                                        <a href="www.examapplicationcenter.com">www.examapplicationcenter.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 10px 20px">We have been providing our three times award winning service since 2007. We have assisted more than 25,000 applicants to get licensed in USA, Middle East countries, Canada and UK.</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
</table>